.page-shell {
  height: 100dvh;

  display: grid;
  grid-template-rows: 1fr auto;

  overflow: hidden;
}

.container {
  overflow-y: auto;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  min-height: 0;
}

.container section {
  min-height: 100%;
  scroll-snap-align: start;
  display: grid;
  &#hero,
  &#rsvp,
  &#reminders {
    padding: 0;
  }

  &#attire,
  &#location,
  &#rsvp,
  &#reminders {
    background:var(--tertiary-bg);
  }
}
