.container {
  height: 100vh;
  overflow-y: auto;

  scroll-snap-type: y mandatory;

  section {
    height: 100vh;
    scroll-snap-align: start;

    padding: clamp(2rem, 5vw, 4rem) clamp(2rem, 5vw, 4rem) 90px;
    &#hero {
      padding: 0;
    }
    &#faq{
      background: #f7f3ee;
    }
  }
}