.page-shell {
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.container {
  height: 100%;
  overflow-y: auto;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  padding-bottom: 76px;
  box-sizing: border-box;
}


.container section {
  min-height: 100%;
  scroll-snap-align: start;
  display: grid;
  &#hero,
  &#rsvp,
  &#reminders {
    padding: 0;
  }

  &#attire,
  &#location,
  &#rsvp,
  &#reminders {
    background:var(--tertiary-bg);
  }
}
