@mixin section-background(
  $image,
  $overlay: null,
  $position: center,
  $size: cover
) {
  position: relative;
  isolation: isolate;

  &::before {
    content: '';

    position: absolute;
    inset: 0;
    z-index: -1;

    @if $overlay {
      background:
              linear-gradient($overlay, $overlay),
              url($image) no-repeat $position / $size;
    } @else {
      background:
              url($image) no-repeat $position / $size;
    }
  }
}